@model PaginationSearchInput
@{
    ViewBag.Title = "Quản lý Khách hàng";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show shadow-sm mb-3" role="alert">
        <div class="d-flex align-items-center">
            <i class="bi bi-check-circle-fill fs-4 me-2"></i>
            <div>
                <strong>Thành công!</strong> @TempData["SuccessMessage"]
            </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show shadow-sm mb-3" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@section PageToolBar {
    <a href="~/Customer/Create" class="btn btn-primary">
        <i class="bi bi-plus-circle me-1"></i>
        Bổ sung
    </a>
}
<div class="card mb-3">
    <div class="card-body">
        <form id="formSearch"
              method="get"
              action="~/Customer/Search"
              data-target="searchResult"
              onsubmit="paginationSearch(event, this, 1)">

            <input type="hidden" asp-for="PageSize" />

            <div class="input-group">

                <input type="text" asp-for="SearchValue"
                       class="form-control"
                       placeholder="Tên khách hàng..." autofocus />

                <button class="btn btn-info d-flex align-items-center">
                    <i class="bi bi-search me-1"></i>
                </button>
            </div>
        </form>
    </div>
</div>


<div id="searchResult"></div>



@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            paginationSearch(null, document.getElementById("formSearch"), @Model.Page);
        });
    </script>
}